* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html, body {   
    height: -webkit-fill-available;
    background: fixed;
    background: linear-gradient(to bottom left, #006026, #003C5D);
}

body{
    display: flex;
    justify-content: center;
}
#block {
    margin-top: 15%;
    background-color: white;
    width: 25%;
    height: 25%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 4%;
}

p {
    margin: 2%;
}

button {
    margin: 2%;
    width: 50%;
    height: 25%;
}