* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Gill Sans, sans-serif;
}

body {
	background-color: #F0F0F0;
}

/* ---------------------------------------------------------------------------------------------------- */

header {
	height: 150;
	background-color: white;
	width: 100%;
    display: flex;
    justify-content: space-between;
	align-items: center;
	padding: 10px 30px 10px 10px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #0D5F2E;
	-webkit-transition: .4s;
	transition: .4s;
}
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #810000;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #810000;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

div {
	text-align: justify;
}

#btn_predpr {
	display: flex;
	align-items: center;
}

#btn_predpr p {
	padding-right: 10px;
	font-size: large;
}

/* ---------------------------------------------------------------------------------------------------- */

#main_frame {
	background-color: white;
	border-radius: 15px;
	margin: 1% 20%;
	padding: 1%;
	height: 1000px;
}

#info {
	display: flex;
	margin-bottom: 3%;
}

#info img {
	margin: 2% 7%;
	width: 220px;
	height: 300px;
	border-radius: 4%;
}

#dannie {
	margin: 4% 2% 2% 0%;
}

#dannie p {
	padding: 10px;
}

/* ---------------------------------------------------------------------------------------------------- */





#menu {
	display: flex;
	justify-content: center;
	margin-bottom: 3%;
}

#menu a {
	padding: 10px;
	text-decoration: none;
	border: 3px solid #003C5D;
	border-top: none;
	border-left: none;
	border-right: none;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	color: #003C5D;
	background-color: rgba(0, 60, 93, 0.1);
}

#menu a:hover, #menu a:active {
	color: #0D5F2E;
	border: 2px solid #0D5F2E;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: rgba(13, 95, 46, 0.1);
}


.dropdown-content {
	margin-top: 13px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



table, td, th {
	border: 1px solid;
  }

table {
	border: 3px solid rgba(13, 95, 46);
	border-collapse: collapse;
	margin: 2% 5%;
}

th {
	border: 3px solid rgba(13, 95, 46);
	padding: 2px 10px;
}



.slider-container {
	position: relative;
	width: 600px;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
  }
  
  .sliderd {
	display: flex;
	transition: transform 0.5s ease-in-out;
  }
  
  .sliderd img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .prev-button,
  .next-button {
	display: flex;
	flex-direction: column;
    justify-content: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50%;
	height: 100%;
	background-color: transparent;
	border: none;
	font-size: 24px;
	color: white;
  }
  
  .prev-button {
	align-items: flex-start;
	left: 10px;
  }
  
  .next-button {
	align-items: flex-end;
	right: 10px;
  }

  div.sim-slider-dots {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 3;
	text-align: center;
  }

  .dropdown {
    position: relative;
    display: inline-block;
}

#textD {
	margin: 5% 10%;
	width: 700px;
	height: 400px;
	background-color: #F0F0F0;
}